{erl_opts, [debug_info]}.

% https://hex.pm/packages/riak_ensemble_ng for details
{deps, [{riak_ensemble, "2.4.4-fork", {git, https://github.com/janskrz/riak_ensemble_ng.git}}]}.

{relx, [
    {release, {multi_paxos, "0.0.1"}, [
        multi_paxos,
        {riak_ensemble, load}
    ]},

    {dev_mode, true},
    {include_erts, false},
    %% TODO HOW THE HELL DO YOU SET VM ARGUMENTS???
    {overlay_vars, "config/vars.config"}

]}.

{project_plugins, [rebar3_cuttlefish]}.

